@font-face {
    font-family: primFont;
    src: url(resources/fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: menu;
    src: url(resources/fonts/modern\ M.ttf);
}

@font-face {
    font-family: creamCake;
    src: url(resources/fonts/Cream\ Cake.otf);
}

body {
    margin: 0px;
}


.container {
    text-align: center;
    background-color: transparent;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
}




#sideBar {
    background: linear-gradient(#161B25 0%, #394650 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: white;
    display: grid;
    grid-template: .5fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    padding-top: 3%;
    padding-right: 82%;
    padding-left: 3%;
}

#header {
    background: linear-gradient(#161B25 0%, #394650 100%);
    display: grid;
    text-align: center;
    grid-template: .25fr 1fr/ 2.5fr 1fr;
    grid-column-start: 2;
    grid-column-end: 6;
}

#icons {
    padding-top: 40%;
    padding-left: 70%;
}

#searchDiv {
    padding-right: 70%;
}

#appText {
    color: white;
    font-size: 100px;
    font-family: primFont;
    padding-top: 20px;
    padding-left: 100px;

}

#appText2 {
    font-size: 20px;
    padding-left: 100px;
}

input[type=Search] {
    margin-top: 25px;
    min-width: 15vw;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}


#mainContentArea {
    box-shadow: inset 0 1px 5px #000000;
    height: 100vh;
    padding-left: 20px;
    background-color: #EDF2F4;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6;
}

#mainCardAreaTitle {
    position: absolute;
    color: aqua;
}

#rightCardAreaTitle {
    left: 50vw;
    bottom: 36vh;
    position: relative;
    color: yellow;
}

#cardSet {
    background-color: transparent;
    color: black;
    margin-top: 50px;
    row-gap: 10px;
    column-gap: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}

#cardSet>div {
    box-shadow: 3px 3px 10px black;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffffff;
}


#rightCardSet {
    background-color: transparent;
    color: black;
    margin-top: 50px;
    margin-left: 10px;
    row-gap: 50px;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#rightCardSet>div {
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffffff;
}