body {
    margin: 0px;
}


.container {
    text-align: center;
    background-color: transparent;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
}




#sideBar {
    background-image: linear-gradient(#D4145A, #FBB03B);
    filter: drop-shadow(0 0 30px #000);
    display: grid;
    grid-template: .5fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

#header {
    background-color: rgb(255, 153, 0);
    display: grid;

    grid-template: 1fr 1fr/ 2.5fr 1fr;
    grid-column-start: 2;
    grid-column-end: 6;
}

#header input {
    
    height: 2.5vh;
    width: 25vw;

}


#mainContentArea {
    box-shadow: inset 0 1px 5px #000000;
    height: 100vh;
    padding-left: 20px;
    background-color: #ADACB5;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6;
}

#mainCardAreaTitle {
    position: absolute;
    color: aqua;
}

#rightCardAreaTitle {
    left: 50vw;
    bottom: 36vh;
    position: relative;
    color: yellow;
}

#cardSet {
    background-color: transparent;
    color: black;
    margin-top: 50px;
    row-gap: 10px;
    column-gap: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}

#cardSet>div {
    box-shadow: 3px 3px 10px black;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #e4e3e6;
}


#rightCardSet {
    background-color: transparent;
    color: black;
    margin-top: 50px;
    margin-left: 10px;
    row-gap: 50px;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#rightCardSet>div {
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #e4e3e6;
}